<header class="header">
  <nav aria-label="star wars" class="header__nav">
    <ul role="menubar" aria-label="star wars" class="header-nav__list">
      <li role="none" class="header-nav__item" routerLinkActive="header-nav__item--active">
        <a role="menuitem" class="header-nav__link" aria-haspopup="true" aria-expanded="false" tabindex="0"
          [routerLink]="['/planets']">
          Planets
        </a>
      </li>
    </ul>
  </nav>
</header>

<main id="main_container" class="container">
  <router-outlet></router-outlet>
</main>